# required by GAMMA and pinned to versions available via apt; ignored in dependabot.yml
gdal[numpy]==3.4.1
matplotlib==3.5.1
numpy==1.21.5
packaging==21.3
scipy==1.8.0
shapely==1.8.0
# required by hyp3_gamma
# geopandas>0.14.3 requires numpy>=1.22, which conflicts with GAMMA expecting numpy==1.21.5
geopandas==0.14.3
hyp3lib==3.1.4
jinja2==3.1.6
lxml==5.3.2
pillow==11.1.0
pyproj==3.7.1
python-dateutil==2.9.0.post0
rtree==1.4.0
s1_orbits==0.1.3
