{% extends 'arc.xml.j2' %}
{% block scaleRange %}
        <scaleRange>
            <minScale>150000000</minScale>
            <maxScale>5000</maxScale>
        </scaleRange>
{% endblock %}
{% block dataIdInfo %}
    <dataIdInfo>
        <idPurp>{% block idPurp %}{% endblock %}</idPurp>
        <idAbs>{% block idAbs %}{% endblock %}</idAbs>
        <idCredit>When using this data as an image in a publication such as journal papers, articles, presentations, posters, and websites, please include the following credit with the image (portions in square brackets are optional):

[InSAR product processed by ]ASF DAAC HyP3 {{ processing_date.year }}[ using {{processor_name}} software]. Contains modified Copernicus Sentinel data {{ secondary_granule_name[17:21] }}, processed by ESA.

When using this data in a manuscript and/or crediting datasets used for analysis, an acknowledgement including the software versions may be appropriate:

ASF DAAC HyP3 {{ processing_date.year }} using the {{ plugin_name }} plugin version {{ plugin_version }} running {{ processor_name }} release {{ processor_version }}. Contains modified Copernicus Sentinel data {{ secondary_granule_name[17:21] }}, processed by ESA.

For more information on citing the dataset, please refer to the README file distributed with this product.</idCredit>
        <idCitation xmlns="">
            <date>
                <pubDate>{{ processing_date.isoformat(timespec='seconds') }}</pubDate>
            </date>
            <citRespParty xmlns="">
                <rpOrgName>Alaska Satellite Facility</rpOrgName>
                <role>
                    <RoleCd value="007"/>
                </role>
                <rpCntInfo xmlns="">
                    <cntAddress addressType="physical">
                        <delPoint>2156 Koyukuk Dr.</delPoint>
                        <city>Fairbanks</city>
                        <adminArea>Alaska</adminArea>
                        <postCode>99775-7320</postCode>
                        <eMailAdd>uso@asf.alaska.edu</eMailAdd>
                        <country>US</country>
                    </cntAddress>
                    <cntPhone>
                        <voiceNum tddtty="">907-474-5041</voiceNum>
                    </cntPhone>
                </rpCntInfo>
            </citRespParty>
        </idCitation>
        <searchKeys>
            <keyword>Alaska Satellite Facility</keyword>
            <keyword>ASF</keyword>
            <keyword>Synthetic Aperture Radar</keyword>
            <keyword>SAR</keyword>
            <keyword>Interferometric SAR</keyword>
            <keyword>InSAR</keyword>
            <keyword>Sentinel-1</keyword>
        </searchKeys>
        <dataLang>
            <languageCode value="eng"/>
            <countryCode value="US"/>
        </dataLang>
        <dataChar>
            <CharSetCd value="004"/>
        </dataChar>
        <idPoC xmlns="">
            <rpOrgName>Alaska Satellite Facility</rpOrgName>
            <role>
                <RoleCd value="010"/>
            </role>
            <rpCntInfo xmlns="">
                <cntAddress addressType="physical">
                    <delPoint>2156 Koyukuk Dr.</delPoint>
                    <city>Fairbanks</city>
                    <adminArea>Alaska</adminArea>
                    <postCode>99775-7320</postCode>
                    <eMailAdd>uso@asf.alaska.edu</eMailAdd>
                    <country>US</country>
                </cntAddress>
                <cntPhone>
                    <voiceNum tddtty="">907-474-5041</voiceNum>
                </cntPhone>
            </rpCntInfo>
            <displayName>Alaska Satellite Facility</displayName>
        </idPoC>
        <resMaint xmlns="">
            <maintFreq>
                <MaintFreqCd value="009"/>
            </maintFreq>
            <maintCont xmlns="">
                <rpOrgName>Alaska Satellite Facility</rpOrgName>
                <role>
                    <RoleCd value="002"/>
                </role>
                <rpCntInfo xmlns="">
                    <cntAddress addressType="physical">
                        <delPoint>2156 Koyukuk Dr.</delPoint>
                        <city>Fairbanks</city>
                        <adminArea>Alaska</adminArea>
                        <postCode>99775-7320</postCode>
                        <eMailAdd>uso@asf.alaska.edu</eMailAdd>
                        <country>US</country>
                    </cntAddress>
                    <cntPhone>
                        <voiceNum tddtty="">907-474-5041</voiceNum>
                    </cntPhone>
                </rpCntInfo>
                <displayName>Alaska Satellite Facility</displayName>
            </maintCont>
        </resMaint>
        <resConst>
            <Consts xmlns="">
                <useLimit>&lt;DIV STYLE="text-align:Left;"&gt;&lt;DIV&gt;&lt;DIV&gt;&lt;P&gt;&lt;SPAN&gt;There are no restrictions on the use of this data, but it must be acknowledged or cited as listed in the credits.&lt;/SPAN&gt;&lt;/P&gt;&lt;/DIV&gt;&lt;/DIV&gt;&lt;/DIV&gt;</useLimit>
            </Consts>
        </resConst>
        <envirDesc>This product was generated by ASF DAAC HyP3 {{ processing_date.year }} using the {{ plugin_name }} plugin version {{ plugin_version }} running {{ processor_name }} release {{ processor_version }}.</envirDesc>
        <tpCat>
            <TopicCatCd value="008"/>
        </tpCat>
    </dataIdInfo>
{% endblock %}
{% block dataLineage %}
        <dataLineage>
            <statement>{% block dataLineageStatement %}{% endblock %}
            </statement>
        </dataLineage>
{% endblock %}
{% block refSysInfo %}
    <refSysInfo>
        <RefSystem dimension="horizontal"/>
    </refSysInfo>
{% endblock %}
{% block contInfo %}
    <contInfo>
        <ImgDesc xmlns="">
            <attDesc>{{ pol }}</attDesc>
            <trianInd>False</trianInd>
            <radCalDatAv>False</radCalDatAv>
            <camCalInAv>False</camCalInAv>
            <filmDistInAv>False</filmDistInAv>
            <lensDistInAv>False</lensDistInAv>
            <contentTyp>
                <ContentTypCd value="001"/>
            </contentTyp>
            <covDim>
                <Band xmlns="">
                    <seqID>
                        <aName>C-band</aName>
                        <attributeType>
                            <aName>SAR</aName>
                        </attributeType>
                    </seqID>
                </Band>
            </covDim>
        </ImgDesc>
    </contInfo>
{% endblock %}
