{% block mdContact %}
    <mdContact xmlns="">
        <rpOrgName>Alaska Satellite Facility</rpOrgName>
        <role>
            <RoleCd value="006"/>
        </role>
        <rpCntInfo xmlns="">
            <cntAddress addressType="physical">
                <delPoint>2156 Koyukuk Dr.</delPoint>
                <city>Fairbanks</city>
                <adminArea>Alaska</adminArea>
                <postCode>99775-7320</postCode>
                <eMailAdd>uso@asf.alaska.edu</eMailAdd>
                <country>US</country>
            </cntAddress>
            <cntPhone>
                <voiceNum tddtty="">907-474-5041</voiceNum>
            </cntPhone>
        </rpCntInfo>
        <displayName>Alaska Satellite Facility</displayName>
    </mdContact>
{% endblock %}